certifi
charset-normalizer
idna
jinja2
markupsafe
packaging
pip
pygments
requests
setuptools
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
wheel
numpy
argparse
matplotlib
pandas
